.employeecard{
    border: 2px solid rgb(105, 102, 102);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.employeeimage{
    width: 70%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}