* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: grab;
}

.main-container{
  width: 100% !important;
  overflow: hidden;
}

/* navbar style starts  */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px 15px 100px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: 0.5s ease-in;

}

.links-side a {
  text-decoration: none;
  color: black;
  margin: 0px 10px;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s ease-in;
  margin-bottom: 10px;
}
.links-side a:hover {
  color: #1778f2;

  transition: 0.3s ease-in-out;

}
.links-side a.active{

  color: navy;
  text-decoration: underline;

}
.mobile-links-side{
  width: 300px;
  height: 100vh;
  background-color: aliceblue;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -300px;
  transition: .3s ease-in-out;
  display: none;
  
}
.mobile-links-side a{
  text-decoration: none;
  color: black;
  margin: 0px 20px;
  font-size: 20px;
  display: block;
  margin-top: 18px;
}
.fa-x{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 30px;
  color: lightslategray;
}
.menubar{
  display: none;
  font-size: 30px;
}

#navbar.scrolled {
  background-color: white;
}
/* navbar style ends  */

/* landingpage style starts */
.quote-button {
  text-decoration: none;
  border: none;
  font-size: 20px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  padding: 5px 20px 20px 20px;
  height: 2.4em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;

  margin-top: 20px !important;
}

.quote-button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

/* reachme */

.myform{
  width: 80%;
  border: 1px solid transparent !important;
  border-radius: 30px;
  padding: 10px;
  background-color: rgb(13,110,253);
}
.form-input{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-input label{
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}
.form-input input{
  margin-left: 10px;
  margin-bottom: 20px;
  width: 90%;
  padding: 5px;
  padding-right: 20px;
  border: 2px solid transparent;
  border-radius: 30px;
  height: 40px;
}
.form-input .special{
  height: 100px;
}

.form-input textarea{
  width: 90%;
  border-radius: 30px;
  margin-bottom: 30px;
}


/* reachme */




@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.quote-button:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  background-color: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 20px;
  transition: 1s;
}

.quote-button:hover::before {
  filter: blur(20px);
}

.quote-button:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

/* landingpage style ends */

.time-clock-container{
  display: flex !important;
  align-items: center;
}
.clockandcustomer{
  position: relative;
  top: -50px;
}

.type-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(205, 198, 198, 0.2), 0 6px 20px 0 rgba(220, 211, 211, 0.19);
  padding: 20px;
}
.fa-brands{
  font-size: 30px !important;
  margin: 20px !important;
}



@media only screen and (max-width: 1060px) {
  .links-side {
    display: none;
  }
  .menubar{
    display: flex;
  }
}


@media only screen and (max-width: 996px) {
  .beautiful-girl{
    width: 300px;
  }
  .nav-bar{
    padding: 20px;
  }
  .beautiful-girl-container{
    padding-top: 15px;
    justify-content: center !important;
  }
  .left-side-content-of-landing{
    text-align: center !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .time-clock-container{
    justify-content: center;
  }
  .clockandcustomer{
    position: static;
  
  }
  .saveabout{
    align-items: center;
  }
  .mybutton{
    justify-content: center !important;
    align-items: center;
  }
  .partner-image{
    margin-top: 50px;
  }
  .partnerlogo{
    margin: 0;
    padding: 0;
  }
  .marleft{
    margin-left: 0px !important;
  }
  .fa-brands{
    font-size: 20px !important;
    margin: 20px !important;
  }
  
}


.cursor-outline {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.2s linear;
}


