{% load static %}
<div class="container m-0 p-5 mt-5" id="about">
    <h1 class="mb-5 text-center">
        <b>Who<span class="text-primary"> am i !</span></b>
    </h1>
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
      <img src="{% static 'images/aboutdp.jpg' %}" alt="" width="100%" />
    </div>
    <div class="col-md-6 d-flex justify-content-start flex-column saveabout">


      <p class="text-secondary mt-2" style="word-spacing: 10px">
        I am Vignesh Ravi, a dedicated Python fullstack web developer with a
        solid track record of delivering high-quality, scalable web
        applications. With extensive experience in Python, Django, and Flask, I
        specialize in developing robust backend solutions and seamless front-end
        interfaces.
      </p>

      <p class="text-secondary" style="word-spacing: 10px">
        Currently, I am expanding my expertise into the MERN stack, honing my
        skills in MongoDB, Express.js, React, and Node.js. This journey into
        MERN allows me to create dynamic, full-featured web applications using
        cutting-edge technologies.
      </p>

      <p class="text-secondary" style="word-spacing: 10px">
        I am passionate about leveraging my technical skills and problem-solving
        abilities to contribute to innovative projects and drive success in a
        collaborative team environment. My commitment to continuous learning and
        staying updated with the latest industry trends ensures that I bring
        fresh perspectives and valuable insights to every project.
      </p>

      <p class="text-secondary" style="word-spacing: 10px">
        I am passionate about leveraging my technical skills and problem-solving
        abilities to contribute to innovative projects and drive success in a
        collaborative team environment. My commitment to continuous learning and
        staying updated with the latest industry trends ensures that I bring
        fresh perspectives and valuable insights to every project.
      </p>

      <p class="text-secondary" style="word-spacing: 10px">
        Let's connect and explore how I can contribute to your team's success
        with my unique blend of skills and enthusiasm for web development.
      </p>

      <p><button class="quote-button" class="mt-5">Download CV</button></p>
    </div>
  </div>
</div>
