<div class="container" style="padding-bottom: 100px !important;">
    <div class="row">
        <div class="col-md-4 mb-2 mt-5">
            <h2>About Us</h2>
            <br>
            <p>Hi, I'm Vignesh Ravi, a passionate Python fullstack web developer with expertise in building scalable and dynamic web applications. I have extensive experience with Python, Django, and Flask, and I am currently expanding my skill set in the MERN stack (MongoDB, Express.js, React, Node.js). I am eager to bring my problem-solving skills and innovative approach to a collaborative team environment.</p>
        </div>
        <div class="col-md-4 mb-5 mt-5">
            <h2>Contact Info</h2>
            <br>
            <p><i class="fa-solid fa-house"></i><span class="ms-2">{{profile.address}}</span></p>
            <p><i class="fa-solid fa-phone"></i><span class="ms-2">+91 {{profile.mobile}}</span></p>
            <p><i class="fa-regular fa-envelope"></i><span class="ms-2">{{profile.gmail}}</span></p>
        </div>
        
        <div class="col-md-4 mt-5">
            <h2 class="fw-bold"><span>Follow us on :</span></h2>
            <br>
            <p>
                <a href="{{profile.github}}"><i class="fa-brands fa-github  fw-bold me-2" style="font-size: 30px;color: white;"></i></a>
                <a href="{{profile.linkedin}}"><i class="fa-brands fa-linkedin  fw-bold me-2" style="font-size: 30px;color: white;"></i></a>
                <a href="{{profile.instagram}}"><i class="fa-brands fa-instagram  fw-bold me-2" style="font-size: 30px;color: white;"></i></a>
                <a href="{{profile.facebook}}"><i class="fa-brands fa-facebook   fw-bold me-2" style="font-size: 30px;color: white;"></i></a>
            </p>

        </div>
    </div>
</div>